<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:replace="fragments/loginConfig :: loginConfigFragment"></th:block>
    
    <body class="login_in_body">
		
		<div class="login_wrap">
	        	<th:block th:replace="fragments/loginHeader :: loginHeaderFragment"></th:block>
	        	<th:block layout:fragment="loginContent"></th:block>
		</div>
		
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </body>
</html>