<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout/login_layout}">
<th:block layout:fragment="loginContent">
	<div class="login_outer">
		<div class="login_inner">
			<div class="login_in_content">
				<a href="/"><img th:src="@{../img/icon/Arrow_Back.png}" class="back_arrow"></a>
				<p class="login_in_form_title">♥ FIND PW ♥</p>
				
				<form id="formData" autocomplete="off">
					<div class="form" id="form">
						<input type="text" id="mEmail" class="login_input_chk" placeholder="이메일">
						<button type="button" id="sendBtn">인증번호 전송</button>
			
						<input type="text" id="mEmailChk" class="login_input_chk" placeholder="인증번호">
						<button type="button" id="chkBtn">인증번호 확인</button>
					</div>

					<div id="inputPw" class="result_div" autocomplete="off">
						<input type="password" id="mPw" placeholder="비밀번호">
						<input type="password" id="mPwChk" placeholder="비밀번호 확인">
						<button type="button" id="modifyBtn">비밀번호 변경</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(){
			document.getElementById("inputPw").style.display = 'none';
		});

		//인증번호 전송
		let sendBtn = document.getElementById("sendBtn");
		sendBtn.addEventListener('click',() => {
			sendMail('mEmail','P');
		});

		//인증번호 확인
		let chkBtn = document.getElementById("chkBtn");
		chkBtn.addEventListener('click',() => {
			confirmMail("mEmail",'P');
		});

		//비밀번호 변경
		let modifyBtn = document.getElementById("modifyBtn");
		modifyBtn.addEventListener('click',() => {
			modifyPw();
		});
	</script>
</th:block>