<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/login_layout">

<th:block layout:fragment="mainContent">
	<div class="login_in_content">
	<p class="login_in_form_title">♥ FIND PW ♥</p>
		<form id="formData">

			<input type="text" id="mEmail" class="login_in_id" autocomplete="off" placeholder="이메일을 입력하세요">
			<button type="button" id="sendBtn" onclick="sendMail();">인증번호 전송</button>

			<input type="text" id="mEmailChk" class="login_in_id" autocomplete="off" placeholder="인증번호를 입력하세요">
			<button type="button" onclick="confirmMail();">인증번호 확인</button>

			<div id="inputPw">
				비밀번호 : <input type="password" id="mPw">
				비밀번호 확인 : <input type="password" id="mPwChk">
				<button type="button" onclick="modifyPw();">변경</button>
			</div>

		</form>
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#inputPw").hide();
		})


		function sendMail(){

			let email = $("#mEmail").val();

			$.ajax({
				type : "POST",
				url : "/sendMailAuth.json",
				dataType:'json',
				contentType : "application/json",
				data : JSON.stringify({
					mEmail : email,
					type : 'P'
				}),
				success : function(obj){
					alert(obj.resultMsg);
				}
			})
		}

		function confirmMail(){

			let emailChk = $("#mEmailChk").val();
			let email = $("#mEmail").val();

			$.ajax({
				type : "POST",
				url : "/confirmMailAuth.json",
				dataType:'json',
				contentType : "application/json",
				data : JSON.stringify({
					mEmail : email,
					inputAuth : emailChk,
					type : 'P'
				}),
				success : function(obj){
					if(obj.resultCd === '1'){
						alert(obj.resultMsg);
						$("#result").val(obj.resultData);
						$("#inputPw").show();
					}else{
						alert(obj.resultMsg);
					}
				}
			})
		}

		function modifyPw(){

			let email = $("#mEmail").val();
			let pw = $("#mPw").val();
			let pwChk = $("#mPwChk").val();

			$.ajax({
				type : "POST",
				url : "/pwModify.json",
				dataType:'json',
				contentType : "application/json",
				data : JSON.stringify({
					mPw : pw,
					mPwChk : pwChk,
					mEmail : email
				}),
				success : function(obj){
					alert(obj.resultMsg);
					location.href=obj.resultUrl;
				}
			})
		}
	</script>
</th:block>
</html>