<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/login_layout">

<th:block layout:fragment="loginContent">
<div class="login_outer">
	<div class="login_inner">
		<div class="login_in_content">
			<span ><img  th:src="@{../img/icon/Arrow_Back.png}" class="back_arrow" onclick="back();"></span>
			<p class="login_in_form_title">♥ FIND ID ♥</p>
	
			<form id="formData" autocomplete="off">
				<div class="form">
					<input type="text" id="mEmail" class="login_input_chk" placeholder="이메일">
					<button type="button" id="sendBtn" onclick="sendMail();">인증번호 전송</button>
		
					<input type="text" id="mEmailChk" class="login_input_chk" placeholder="인증번호">
					<button type="button" onclick="confirmMail();">인증번호 확인</button>
		
					<!-- ID : <input type="text" class="" id="result" value="" readonly> -->
				</div>
				<div  id="result_div" style="display:none;">
					♥입력하신 정보와 일치하는 아이디는 <span id="result" style="font-weight:bold; color:white; ">111</span> 입니다.♥
				</div>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript">
	function sendMail(){

		let email = $("#mEmail").val();

		$.ajax({
			type : "POST",
			url : "/sendMailAuth.json",
			dataType:'json',
			contentType : "application/json",
			data : JSON.stringify({
				mEmail : email,
				type : 'I'
			}),
			success : function(obj){
				alert(obj.resultMsg);
			}
		})
	}

	function confirmMail(){
		let emailChk = $("#mEmailChk").val();
		let email = $("#mEmail").val();

		$.ajax({
			type : "POST",
			url : "/confirmMailAuth.json",
			dataType:'json',
			contentType : "application/json",
			data : JSON.stringify({
				mEmail : email,
				inputAuth : emailChk,
				type : 'I'
			}),
			success : function(obj){
				if(obj.resultCd === '1'){
					$(".form").css("display", "none");
					$("#result_div").css("display", "");
					$("#result").text(obj.resultData);
				}else{
					alert(obj.resultMsg);
				}
			}
		})
	}

</script>
</th:block>
</html>