<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/main_layout">

<th:block layout:fragment="mainContent">
	<div class="login_in_content" style="height: 530px;">
	<p class="login_in_form_title">♥ JOIN ♥</p>
	<form id="formData">
		
		<input type="text" id="mName" class="login_in_name" data-name="이름" placeholder="이름">

		<input type="text" id="mId" data-name="아이디" placeholder="아이디">
		<input type="button" id="idChk" value="중복">
		<span id="idChk_info" >아이디 중복 체크를 해주세요</span>
		
		<input type="password" id="mPw" data-name="비밀번호" placeholder="비밀번호">

		<input type="password" id="mPwChk" data-name="비밀번호 확인" placeholder="비밀번호 확인">
		
		<input type="text" id="mNickname" data-name="닉네임" placeholder="닉네임">
		<input type="button" id="nickChk" value="중복">
		<span id="nickChk_info">닉네임 중복 체크를 해주세요</span>
		
		<input type="text" id="mEmail" data-name="이메일" placeholder="이메일">
		<input type="button" id="emailChk" value="중복">
		<span id="emailChk_info">이메일 중복 체크를 해주세요</span>
		
		<!--<div>생년월일</div>
		<input type="date" id="mBirth" data-name="생년월일">-->
		<div>생년월일</div>
		<input type="text" id="mBirth" data-name="생년월일">
		<div>생일공개여부</div>
		<input type="text" id="mBirthYn" data-name="생일공개여부">

		<button type="button" id="btn-ajax" value="전송"></button>
	</form>
	</div>
	<script>
	/* common.js로 뺄거 */
    function fn_dataChk(formId){
    	let chk = true;
		const allElements = formId.getElementsByTagName('*');
		for (let i = 0; i < allElements.length; i++) {
			const element = allElements[i];
			if (element.hasAttribute('data-name') && element.value =="") {
				alert(element.dataset.name + "을(를) 입력해주세요");
				element.focus();
				chk = false;
				return false;
			  }
		}
	return chk;
	}
	
    const idChk = document.getElementById("idChk");
    const nickChk = document.getElementById("nickChk");
    const emailChk = document.getElementById("emailChk");
	
    idChk.addEventListener('click', function() {
    	duplicateChk(idChk);
	});
    
    nickChk.addEventListener('click', function() {
    	duplicateChk(nickChk);
	});
    
    emailChk.addEventListener('click', function() {
    	duplicateChk(emailChk);
	});
    
    function duplicateChk(chkId){
    	var sibling1 = chkId.previousElementSibling;
    	var sibling2 = chkId.nextElementSibling;
    	if(chkId == nickChk){
    	   	data = { type : 'nickname' ,mNickname : sibling1.value }
    	}else if(chkId == emailChk){
    		data = { type : 'email', mEmail : sibling1.value }
    	}else if(chkId == idChk){
    		data = { type : 'id', mId: sibling1.value }
    	}
    	
    	//XMLHttpRequest 객체 생성
		var xhr = new XMLHttpRequest();

		//요청을 보낼 방식, url , 비동기(true) / 동기(false)
		xhr.open('POST', '/inputCheck.json', true);
		
		//HTTP요청 헤더 설정
		xhr.setRequestHeader('Content-type', 'application/json');
		
		//요청 전송
		xhr.send(JSON.stringify(data));
		
		//Callback
		xhr.onload = () =>{
			let data = strToObj(xhr);
			console.log(data.resultCd);
			if(xhr.status == 200 && data.resultCd==='1'){
				if(data.resultType == "email"){
					sibling2.innerText = "이메일 중복 검사 완료"
					console.log('성공');
				} else if(data.resultType == "nickname"){
					sibling2.innerText = "닉네임 중복 검사 완료"
						console.log('성공');
				} else if(data.resultType == "id"){
					sibling2.innerText = "아이디 중복 검사 완료"
						console.log('성공');
				}
				
			} else {
				if(data.resultType == "email"){
					alert("중복된 이메일입니다.")
				} else if(data.resultType == "nickname"){
					alert("중복된 닉네임입니다.")
				} else if(data.resultType == "id"){
					alert("중복된 아이디입니다.")
				}
				//실패일시
				//alert(data.resultMsg);
			}
		}
    }
    
   var btn = document.getElementById("btn-ajax");
    
	btn.addEventListener('click', ()=>{
	var dataChk = fn_dataChk(formData);
	if(dataChk == true){
		
	    var inputName = document.getElementById("mName").value;
	    var inputId = document.getElementById("mId").value;
	    var inputPw = document.getElementById("mPw").value;
	    var inputNickname = document.getElementById("mNickname").value;
	    var inputEmail = document.getElementById("mEmail").value;
	    var inputBirth = document.getElementById("mBirth").value;
	    var inputBirthYn = document.getElementById("mBirthYn").value;
		var inputPwChk = document.getElementById("mPwChk").value;

	    data = {
	        mName : inputName,
	        mId : inputId,
	        mPw : inputPw,
	        mNickname : inputNickname,
	        mEmail : inputEmail,
	        mBirth : inputBirth,
	        mBirthYn : inputBirthYn,
			mPwChk : inputPwChk
	    };
	    
			//XMLHttpRequest 객체 생성
			var xhr = new XMLHttpRequest();
			
			//요청을 보낼 방식, url , 비동기(true) / 동기(false)
			xhr.open('POST', '/join.json', true);
			
			//HTTP요청 헤더 설정
			xhr.setRequestHeader('Content-type', 'application/json');
			
			//요청 전송
			xhr.send(JSON.stringify(data));
			
			
			//Callback
			xhr.onload = () =>{
				let data = strToObj(xhr);
				if(xhr.status == 200 && data.resultCd==='1'){
					
					//성공일시
					alert(data.resultMsg);
					
					location.href = data.resultUrl;
					// var resultData = xhr.resultData;
					// location.href = resultData;  // 해당 페이지 이동
				} else {
					//실패일시
					alert(data.resultMsg);
				}
			}
		}
	});

	
</script>
</th:block>

</html>

