<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
	<div class="contents_wrap">
		<div>이름</div>
		<input type="text" id="mName">
		<div>아이디</div>
		<input type="text" id="mId">
		<div>비밀번호</div>
		<input type="password" id="mPw">
		<div>닉네임</div>
		<input type="text" id="mNickname">
		<div>이메일</div>
		<input type="text" id="mEmail">
		<div>생년월일</div>
		<input type="text" id="mBirth">
		<div>생일공개여부</div>
		<input type="text" id="mBirthYn">		
		
		<input type="button" id="btn-ajax" value="전송">
	</div>
	<script>
	
	var btn = document.getElementById("btn-ajax");
    var inputName = document.getElementById("mName").value;
    var inputId = document.getElementById("mId").value;
    var inputPw = document.getElementById("mPw").value;
    var inputNickname = document.getElementById("mNickname").value;
    var inputEmail = document.getElementById("mEmail").value;
    var inputBirth = document.getElementById("mBirth").value;
    var inputBirthYn = document.getElementById("mBirthYn").value;
    
    data = JSON.stringify({
        mName : inputName,
        mId : inputId,
        mPw : inputPw,
        mNickname : inputNickname,
        mEmail : inputEmail,
        mBirth : inputBirth,
        mBirthYn : inputBirthYn
    });
    
    
     
	btn.addEventListener('click', ()=>{
		//XMLHttpRequest 객체 생성
		var xhr = new XMLHttpRequest();
		
		//요청을 보낼 방식, url , 비동기(true) / 동기(false)
		xhr.open('POST', '/join.json', true);
		
		//HTTP요청 헤더 설정
		xhr.setRequestHeader('Content-type', 'application/json');
		
		//요청 전송
		xhr.send(data);
		
		//Callback
		xhr.onload = () =>{
			if(xhr.status == 200){
				//성공일시
				console.log(xhr.response);
			} else {
				//실패일시
				alert('실패!!');
			}
		}
	});
	
</script>
</th:block>

</html>

