<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/login_layout">

<th:block layout:fragment="loginContent">

<div class="login_outer" style="margin-top:4%">
	<div class="login_inner">
	   <div class="login_in_content">
	      <span ><img  th:src="@{../img/icon/Arrow_Back.png}" class="back_arrow" onclick="back();"></span>
	      <p class="login_in_form_title">♥ JOIN ♥</p>
	
			<form id="formData" autocomplete="off">
	        	<div class="form">
		            <input type="text" id="mName" name="mName" class="login_input" data-name="이름" placeholder="이름">
		            <input type="text" id="mId" name="mId" class="login_input_chk" data-name="아이디" placeholder="아이디">
		            <button type="button" id="idChk" onclick="duplicateChk('mId')">중복</button>
		            <span id="idChk_info" class="chk_befo">아이디 중복 체크를 해주세요</span>
	
		            <input type="password" id="mPw" name="mPw" class="login_input" data-name="비밀번호" placeholder="비밀번호">
		            <input type="password" id="mPwChk" class="login_input" data-name="비밀번호 확인" placeholder="비밀번호 확인">
		
		            <input type="text" id="mNickname" class="login_input_chk" data-name="닉네임" placeholder="닉네임">
		            <button type="button" id="nickChk" value="중복" onclick="duplicateChk('mNickname')">중복</button>
		            <span id="nickChk_info" class="chk_befo">닉네임 중복 체크를 해주세요</span>
		
		            <input type="text" id="mEmail" class="login_input_chk email" data-name="이메일" placeholder="이메일">
		            <button type="button" id="sendBtn" onclick="sendMail();">인증번호전송</button>
		            <input type="text" id="mEmailChk" class="login_input_chk email" placeholder="인증번호를 입력하세요">
		            <button type="button" id="confirmAuthBtn" onclick="confirmMail();">인증번호 확인</button>
		            <span id="emailChk_info" class="chk_befo">이메일 중복 체크를 해주세요</span>
	         
					<div class="box_col">
					   <div class="flex-item">
					      <p class="birth_title">생년월일</p>
					      <input type="date" id="mBirth" data-name="생년월일"  class="login_input">
					   </div>
			           <div class="flex-item">
			              <p class="birth_title">생일공개여부</p>
			              <input type="radio" id="mBirthYn1" name="mBirthYn" value="Y">
			              <label for="Y">공개</label>
			              <input type="radio" id="mBirthYn2" name="mBirthYn" value="N">
			              <label for="N">비공개</label>
			           </div>
	         		</div>
	      		</div>
	   			<input type="button" class="login_in_btn" id="btn-ajax" value="회원가입">
	   		</form>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script>
      $(document).ready(function(){
         $("#mEmailChk").hide();
         $("#confirmAuthBtn").hide();
      })
      function sendMail(){

         let email = $("#mEmail").val();

         $.ajax({
            type : "POST",
            url : "/sendMailAuth.json",
            dataType:'json',
            contentType : "application/json",
            data : JSON.stringify({
               mEmail : email,
               type : 'J'
            }),
            success : function(obj){
               //정상적으로 이메일이 발송되었을때에만, 이메일 인증번호 입력 창 생성
               if(obj.resultCd == 1){
                  alert(obj.resultMsg);
                  $('#mEmailChk').show();
                  $('#confirmAuthBtn').show();
               }else {
                  alert(obj.resultMsg);
               }
            }
         })
      }

      function confirmMail(){

         let emailChk = $("#mEmailChk").val();
         let email = $("#mEmail").val();

         $.ajax({
            type : "POST",
            url : "/confirmMailAuth.json",
            dataType:'json',
            contentType : "application/json",
            data : JSON.stringify({
               mEmail : email,
               inputAuth : emailChk,
               type : 'J'
            }),
            success : function(obj){
               alert(obj.resultMsg);
            }
         })
      }
   

const emailSelection = document.getElementById('emailSelection');
emailSelection.addEventListener('change', (event) => {
   let mEmail2 = document.getElementById('mEmail2');
   if((event.target.value) == 'directly'){
      mEmail2.value = "";
   } else {
      mEmail2.value = event.target.value;
      mEmail2.readOnly = true;
   }
})

</script>
</th:block>

</html>
