<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/main_layout">
    <th:block layout:fragment="mainContent">
        <div style="padding: 0px 230px">
                <!--인풋부분-->
                <div>
                    개인정보수정
                    <div><input type="text" placeholder="이름" style="width:500px"></div>
                    <div><input type="text" placeholder="ID" style="width:500px"></div>
                    <div><input type="text" placeholder="닉네임" style="width:500px"></div>
                    <div><input type="password" placeholder="비밀번호" style="width:500px"></div>
                    <div><input type="password" placeholder="비밀번호확인" style="width:500px"></div>
                    <div><input type="text" placeholder="이메일" style="width:500px"></div>
                    <div><input type="text" placeholder="인증번호" style="width:500px"></div>
                    <div><input type="date" placeholder="생년월일" style="width:500px"></div>
                </div>
                <div>
                    내 정보
                    <div><img th:src="@{/img/icon/Account_Circle.png}" alt="유저사진"></div>
                    <a>탈퇴하기</a>
                </div>

        </div>
    </th:block>
</body>
</html>