<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{fragments/layout/main_layout}">
    <th:block layout:fragment="mainContent">
		<!--sideBar Active와 연관 : mainSideBar의 li태그 id와 data-sidebar의 값이 같아야함-->
        <input type="hidden" data-sidebar="a_calendar" id="actSidebarData">
		<input type="hidden" id="P_mSeq" th:value="${data.session_m_seq}">
		<input type="hidden" id="P_CalSeq" th:value="${calendar.cal_seq}">
        <div class="w_main_content">
            <div class="w_main_item">
				<div id="smallCalendar"></div>
            </div>
			<!--나중에 사용할 것 :: 캘린더 추가부분-->
			<div class="w_main_item">
				<div class="w_myCal">
                    <h3>내 캘린더</h3>
					<div class="right"><button class="w_plus" onclick="w_modal_open();" >+</h1></div>
                </div>
				<div class="w_modal">
					<div class="w_modal_item">
						<h4>입사일자</h4>
						<h5 th:text="${data.session_m_join_comp_dt}"></h5>
					</div>
					<div class="w_modal_item">
						<h4>올해 휴가 잔여일수</h4>
						<h5><span id="w_vact_cnt" th:text="${data.session_m_vact_cnt}"></span> 개</h5>
					</div>
				</div>
            </div>
			<!-- <div class="w_main_item">
				<div class="w_myCal">
                    <h3>내 캘린더</h3>
                    <div class="right"><button class="w_plus" onclick="w_modal_open();" >+</h1></div>
                </div>
				<div class="w_myCalList" id="w_myCalList_main">
				</div>

				<div class="w_modal" id="calList_modal" data-openyn="N">
					<div class="w_modal_item"><span>캘린더 이름</span><input type="text" id="P_calName" placeholder="캘린더이름" ></div>
					<div class="w_modal_item"><span>캘린더 종류</span>
						<select id="P_calType">
						<option value="" selected>선택하세요</option>
						<option value="S">개인</option>
						<option value="C">커플</option>
						<option value="F">친구</option>
					</select></div>
					<div class="w_modal_item"><span>특정 멤버</span>
						/*임시용 :: 나중에 검색으로 변경할 것/*
						<input type="text" id="P_mSeqParty" placeholder="특정 멤버 번호">
					</div>
					<div class="w_modal_item"><span>내 회원번호<br>임시용</span><input type="text" id="P_mSeqMake" th:value="${data.session_m_seq}" readonly></div>
					<div class="modalBtn"><input type="button" onclick="saveCalType();" value="저장"></div>
				</div>
            </div> -->

			<div class="main_item">
				<div class="w_title cal">
                    <div class="w_left"><a href="#" class="cal">캘린더</a></div>
                    <div class="w_right">
						<div class="box"><img th:src="@{../img/attach/min.png}"><img th:src="@{../img/attach/max.png}"><img th:src="@{../img/attach/close.png}"></div>
					</div>
                </div>
				<div class="cendar_container">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
		<form id="formData" autocomplete="one-time-code">
		<aside>
			<!-- 모달창 팝업 -->
			<div id="modalContainer">
				<div id="modalContent" class="modalContent">
					<input type="hidden" id="cont_seq" value=""> 
					<div class="m_title">
						<h1>상세보기</h1>
					</div>
					<div class="m_wrap">
						<span>제목</span>
						<input type="text" id="cal_title" placeholder="타이틀" data-name="제목">
					</div>
					<div class="m_wrap">
						<span>일시</span>
						<label for="cal_allDay">
							<input type="checkbox" id="cal_allDay" class="login_id_sv" onclick="allDayCheck();">
							<span for="cal_allDay"></span>
							종일
						</label>
						<div class="m_date">
							<span>시작</span>
							<input type="date" id="cal_startDate" placeholder="타이틀" data-name="시작날짜"onchange="timeChange(this)">
							<input type="time" id="cal_startTime">
						</div>
						<div class="m_date">
							<span>종료</span>
							<input type="date" id="cal_endDate" placeholder="타이틀" data-name="종료날짜">
							<input type="time" id="cal_endTime">
						</div>
					</div>
					<div class="m_wrap">
						<span>카테고리</span>
						<select id="cal_category" data-name="카테고리" onchange="categoryChange(this);">
							<option value="" selected>선택하세요</option>
							<option value="S1">연차(월차)</option>
							<option value="S2">반차</option>
							<option value="S3">프로젝트</option>
							<option value="S4">출장</option>
							<option value="S5">기타</option>
						</select>
					</div>
					<div class="m_wrap cont">
						<span>내용</span>
						<div contenteditable="true" class="divTextarea" id="P_contCont"></div>
					</div>
				</div>
				<div class="modalBtn">
					<input type="button" value="저장" class="btn regi" id="cAddBtn1" onclick="regiEvent('N');">
					<input type="button" value="수정" class="btn modi" id="cAddBtn2" onclick="regiEvent('E');">
					<input type="button" value="삭제" class="btn delt" id="cAddBtn3" onclick="deltEvent();">
					<input type="button" value="닫기" class="btn clos" id="modalCloseButton" onclick="modalSlide('', '', 'N');">
				</div>
			</div>
		</aside>
	</form>
		
<script>
const checkAllDay = document.getElementById("cal_allDay");
const editStartTime = document.getElementById("cal_startTime");
const editEndTime = document.getElementById("cal_endTime");

function w_modal_open(){
	var calListModal = document.getElementById("calList_modal");
	calListModal.dataset.openyn = "Y";
	calListModal.dataset.openyn = calListModal.dataset.openyn == "N" ? "Y" : "N";
}

function allDayCheck(type) {
	if (checkAllDay.checked) {
		//종일 체크 시, 시간 선택 불가능
		editStartTime.disabled = true;
		editEndTime.disabled = true;
		valueReset();
	} else {
		//종일 체크 해제시, 시간 선택 가능
		editStartTime.disabled = false;
		editEndTime.disabled = false;
		let t_hour = new Date();
        t_hour.setHours(t_hour.getHours() + 1);
		editStartTime.value = hourMinFormat(new Date());
		editEndTime.value = hourMinFormat(t_hour);
	}
}

//나중에 캘린더 추가 기능 넣을 때 쓸 부분 지금은 주석처리
//const P_mSeq = document.getElementById("P_mSeqMake").value;

// document.addEventListener('DOMContentLoaded', function(){
// 	//getList();
// });

// function getList(){
// 	var w_myCalList = document.getElementById("w_myCalList_main");
// 	$.ajax({
//          type : "GET",
//          contentType : "application/json",
//          url : '/calendar.json/' + P_mSeq,
//          dataType : 'json',
//          success : function(rslt){
// 			let dataResult = "";
//              if(rslt.resultCode == 200){
// 				var resultObj = rslt.data.items;
// 				console.log(resultObj);
// 				 for(let i=0; i<resultObj.length; i++){
// 					dataResult += `<div class="w_myCalListDetail">
// 						<label for="myCalCheck${i}">
// 							<input type="checkbox" id="myCalCheck${i}" class="login_id_sv">
// 							<span for="myCalCheck${i}"></span>
// 								${resultObj[i].calName}
// 						</label>
// 					</div>`;
// 				 }
// 				w_myCalList.innerHTML = dataResult;
//              }else{
//                  $.alertError(rslt.resultMsg);
//              }
//          },
//          error : function(request, status, error){
//              $.alertError("javaScript error : "+ error + "request :" + request + "status : " + status);
//          }
//      });
// }



// function saveCalType(){
// 	let calType = document.getElementById("P_calType");
// 	let P_calType = (calType.options[calType.selectedIndex].value);
// 	let P_calName = document.getElementById("P_calName");
// 	let P_mSeqMake = document.getElementById("P_mSeqMake");
// 	let P_mSeqParty = document.getElementById("P_mSeqParty");
	
// 	if(P_calName == ""){
// 		$.alertError("캘린더제목을 작성해주세요");
// 		return false;
// 	}else if(P_mSeqParty == ""){
// 		$.alertError("참가할 회원을 작성해주세요");
// 		return false;
// 	}
	
// 	ajaxData = {calType: P_calType
// 					 , mSeqMake : P_mSeqMake.value
// 					 , mSeqParty : P_mSeqParty.value
// 					 , calName : P_calName.value }
// 	$.ajax({
//          type : "POST",
//          contentType : "application/json",
//          url : '/calendar.json',
//          data : JSON.stringify(ajaxData),
//          dataType : 'json',
//          success : function(rslt){
//              if(rslt.resultCode == 200){
//                  $.alertSuccess("성공:: " + rslt.resultCode + "  메세지 ::" + rslt.resultMsg);
// 				 P_calName.value = "";
// 				 P_mSeqParty.value = "";
// 				 calType.selectedIndex = 0; // Index of the default option
// 				// Trigger the change event
// 				var event = new Event('change');
// 				calType.dispatchEvent(event);
// 				 getList();
// 				 w_modal_open();
//              }else{
//                  $.alertError(rslt.resultMsg);
//              }
//          },
//          error : function(request, status, error){
//              $.alertError("javaScript error : "+ error + "request :" + request + "status : " + status);
//          }
//      });
	
// }
</script>
<script type="text/javascript" th:src="@{/js/calendar.js}"></script>
<script type="text/javascript" th:src="@{/js/calendarRegi.js}"></script>
</th:block>
</html>