<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{fragments/layout/setting_layout}">
    <th:block layout:fragment="settingContent">
    <!--sideBar Active와 연관 : mainSideBar의 li태그 id와 data-sidebar의 값이 같아야함-->
    <input type="hidden" data-sidebar="a_mypage" id="actSidebarData">


        <div class="m_inner_content">
        <div class="main_item mypage">
            <div class="w_title">
                <div class="w_left"><a href="/mypage.do" target="_self">MYPAGE</a></div>
            </div>
            <div class="mypage_content">
                <div class="item" style="width:70%">
                    <input type="text" placeholder="이름">
                    <input type="text" class="chk" placeholder="닉네임"><button type="button">중복</button>
                    <input type="text" class="chk" placeholder="이메일"><button type="button">인증번호 전송</button>
                    <input type="text" class="chk" placeholder="인증번호"><button type="button">인증번호 확인</button>
                    <input type="date" placeholder="생년월일">
                    <p class="birth_title">생일공개여부</p>
                    <input type="radio" id="mBirthYn1" value="Y">
                    <label for="Y">공개</label>
                    <input type="radio" id="mBirthYn2" value="N">
                    <label for="N">비공개</label>
                </div>
                <div class="item" style="width:30%">
                    <div><img src="" alt="프로필사진"></div>
                    <div>
                        <p>아이디</p>
                        <p>기분표시..?</p>
                    </div>
                    <a href="#">비밀번호변경팝업</a>
                    <a href="#">탈퇴하기</a>
                </div>
            </div>
        </div>
    </div>
    </th:block>
</html>