<!-- 화면 header 영역 -->
<th:block th:fragment="settingSideBarFragment">
    <div class="side_content_wrap">
        <div class="headerTitle">
            <div class="menuFold"></div>
            <div class="titt">설정</div>
        </div>
        <ul class="s_sidebar">
            <li class="s_item selected_a" id="aa_mypage"><a href="#">마이페이지</a></li>
            <li class="s_item" id="aa_calendar"><a href="#">캘린더</a></li>
            <li class="s_item" id="aa_time"><a href="#">시간 및 언어</a></li>
        </ul>
    </div>

<script>

</script>

</th:block>
