<!-- 화면 설정파일(css, js) 정의 영역 -->
<th:block th:fragment="loginConfigFragment">
  <head>
    <title>header</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" th:href="@{/img/ico/acornIcon.ico}">
    <link th:href="@{/css/default.css}" rel="stylesheet" />
    <link th:href="@{/css/login_join.css}" rel="stylesheet" />
    
    <!--제이쿼리 -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--cofnfirm, alert창 디자인 변경-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/member.js}"></script>
  </head>
</th:block>