<!-- 화면 header 영역 -->
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="mailSideBarFragment">
        <div class="content_wrap">
            <div class="headerTitle">
                <div class="menuFold"></div>
                <div class="titt">메일</div>
            </div>
            <div class="m_sidebar">
                <div class="m_side_header">
                    <div class="m_btn_header">
                        <a href="#" onclick="goToHref('write')" class="m_btn"><span class="m_span">메일쓰기</span></a>
                        <a href="#" onclick="goToHref('#')" class="m_btn"><span class="m_span">내게쓰기</span></a>
                    </div>
                    <div class="m_filter_header">
                        <a href="#" class="item" onclick="goToHref('#')">
                            <div class="item_div">1</div>
                            <div class="text">안읽음</div>
                        </a>
                        <a href="#" class="item" onclick="goToHref('#')">
                            <div class="item_div"><img th:src="@{../img/icon/Star.png}"></div>
                            <div class="text">중요</div>
                        </a>
                        <a href="#" class="item" onclick="goToHref('#')">
                            <div class="item_div"><img th:src="@{../img/icon/Link.png}"></div>
                            <div class="text">첨부</div>
                        </a>
                        <a href="#" class="item" onclick="goToHref('#')">
                            <div class="item_div"><img th:src="@{../img/icon/Send.png}"></div>
                            <div class="text">TO</div>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="m_side_menu">
                        <a href="#" class="side_item" onclick="goToHrefAjax('all')"><img th:src="@{../img/icon/Mail.png}" class="side_img"><span>전체메일함</span></a>
                        <a href="#" class="side_item" onclick="goToHrefAjax('send')"><img th:src="@{../img/icon/Mail_Receive.png}"><span>받은메일함</span></a>
                        <a href="#" class="side_item" onclick="goToHrefAjax('receive')"><img th:src="@{../img/icon/Mail_Send.png}"><span>보낸메일함</span></a>
                        <a href="#" class="side_item" onclick="goToHrefAjax('trash')"><img th:src="@{../img/icon/Mail_Delete.png}"><span>휴지통</span></a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function goToHref(value){
                if(value == 'write'){
                    location.href="/letterWrite.do"
                } else if(value == 'trash'){
                    location.href="/letterTrahBox.do"
                } 
                // else if(value == 'list'){
                //     location.href="/letterBox.do"
                // }
            }

            function goToHrefAjax(TYPE){
                $.ajax({
                        type : 'POST',
                        contentType : "application/json",
                        url : '/letterList.json',
                        data :JSON.stringify({type : TYPE}),
                        dataType : 'json',
                        success : function(rslt){
                            location.href = "/letterBox.do";
                        },
                        error : function(request, status, error){
                            alert("javaScript error : "+ error + "request :" + request + "status : " + status);
                        }
                    });
            }
            </script>        
    </th:block>
</html>
