<!-- 화면 header 영역 -->
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="mainSideBarFragment">
        <div class="sidebar">
            <nav>
                <div class="nav_wrap">
                    <div class="nav_container">
                        <ul class="nav_item">
                            <li class="nav_menu">
                                <img th:src="@{/img/icon/Menu.png}" alt="메뉴고정" class="">
                                <span class="menu-text">하이하이</span>
                            </li>
                            <li><a href="#" class=""><img th:src="@{/img/icon/Mail.png}" alt="메일" class=""></a></li>
                            <li> <a href="#" class=""><img th:src="@{/img/icon/Calendar_Month.png}" alt="캘린더" class=""></a></li>
                            <li><a href="#" class=""><img th:src="@{/img/icon/Favorite.png}" alt="하트" class=""></a></li>
                            <li><a href="#" class=""><img th:src="@{/img/icon/Account_Circle.png}" alt="마이페이지" class=""></a></li>
                            <li><a href="#" class=""><img th:src="@{/img/icon/Setting.png}" alt="환경설정" class=""></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </th:block>
</html>