<!-- 화면 header 영역 -->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="mainHeaderFragment">

        <div class="header">
            <div class="header_logo">
                <img th:src="@{/img/icons/calendar.png}" alt="캘린더이미지" class="header_logo_png">
            </div>
            <div class="header_title">
                <span class="header_title_item">ACORN CALENDAR</span>
            </div>
            <ul class="header_list">
                <li><a href="#" class="user_alarm" title="알림">
                    <!-- <img th:src="@{/img/icons/}"> -->
                    알림</a></li>
                <li>
                    <a href="#" class="user_photo" title="마이페이지">
                        <img th:src="@{/img/icons/user_clear.png}" alt="유저사진" class="header_symbol">
                    </a>
                </li>
                <li>
                    <a href="/logout.do" class="user_logout"title="로그아웃">
                        <img th:src="@{/img/icons/logout.png}" alt="유저사진" class="header_symbol">
                    </a>
                </li>
            </ul>
        </div>

<script>
    const eventSource = new EventSource('/api/subscribe?id='+sessionStorage.getItem("id"));

    eventSource.onerror = (e) => {
        console.log(e);
    };

    eventSource.onmessage = (e) => {
        let msg = decodeURI(e.data);
        let message = msg.replaceAll("+"," ");
        alert(message);
    };
</script>
        
    </th:block>
</html>