@charset "UTF-8";

.calendar_container{height:100%}
.fc-header-toolbar {padding-top: 1em; padding-left: 1em; padding-right: 1em;}

.cal_content{display:grid; grid-template-columns: 320px auto; grid-template-rows: 330px 450px; height:100%; padding-bottom: 15px;}
.cal_item{box-shadow: 5px 5px 0 black; border: 1px solid black;}
.cal_item:nth-child(1){width:290px; height:300px;}
.cal_item:nth-child(2){width: 290px;min-height: 400px;}
.cal_item:nth-child(3){ grid-column: 2 / span 1; grid-row : 1 / span 2; }
