@charset "UTF-8";

/* 캘린더 레이아웃에 적용 */
.w_main_content{display:grid; grid-template-columns: 380px auto; grid-template-rows: 330px 450px; height:100%; padding-bottom: 15px; }
.w_main_item:nth-child(1){width:350px; height:300px;}
.w_main_item:nth-child(2){width: 350px;min-height: 400px;}
.w_main_item:nth-child(3){ grid-column: 2 / span 1; grid-row : 1 / span 2; }

.w_myCal{display: flex;justify-content: space-between;flex-direction: row;align-items: center; height: 45px;}
.w_myCal > .left{float:left;}
.w_myCal > .right{float:right;}
.w_myCal > .right > .w_plus{font-size: 22.5px;background: #fff;border: none;cursor: pointer;}

.w_myCalList{border-bottom: 1px solid #e6e6e6;}
.w_myCalList > .w_myCalListDetail:first-child{margin-top: 15px;}
.w_myCalListDetail{height: 35px;}

.w_modal[data-openyn="N"]{display:none;}
.w_modal{margin-top: 15px;}
.w_modal_item{display: flex; justify-content: space-between;align-items: center; margin: 10px 0;}
.w_modal_item > span {font-size: 13px; width: 30%;}
.w_modal_item > select {height: 24px;}

/*캘린더 추가 부분 빼고, 입사일자 보여주는 부분으로 임시 변경*/





.fc-header-toolbar {padding-top: 1em; padding-left: 1em; padding-right: 1em;}
.fc .fc-toolbar-title {font-size: 1.75em;display: inline-block;vertical-align: top; margin: 5px;}

/* 버튼 색상 */
.fc .fc-button-primary {background-color: #673617; border:none;}
.fc .fc-button-primary:disabled {background-color:#794736;}
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {background-color:#794736; opacity: .65;}

/*캘린더 헤더 title*/


/*캘린더 이벤트 title*/
.fc-daygrid-dot-event .fc-event-title {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.fc .fc-timegrid-slot {height:18px;border-bottom: 0;}


:root{
	--main1 :  #983C2D;
	--main2 :  #B96028;
	--main3 :  #E2AC48;
	--main4 :  #DEE0D5;
	--main5 :  #A7C5C5;
	--main6 :  #C68B59;
	--main7 :  #402218;
	--main8 :  #865439;
	--main9 :  #D7B19D;
	--main10 : #373029;
	--main11 : #A67C52;
	--main12 : #764C24;
	--main13 : #EDE4DB;
	--main14 : #373029;
	--main15 : #6F6153;
	--main16 : #AFA599;
	--main17 : #44413E;
	--main18 : #DEC2A8;
	--main19 : #8A6252;
	--main20 : #EED6C4;
    --fc-button-hover-bg-color: #D7B19D;
	--fc-event-bg-color: #8B6138;
	--fc-event-border-color: #6b4c2c;
}