@charset "UTF-8";

/* *{font-family: 'Pretendard', '맑은 고딕', sans-serif;} */
html, body{height:100%; margin:0;}
h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, p, fieldset, legend{margin: 0; padding: 0;}
a {color:#000; text-decoration: none;}
img{vertical-align: top;}
fieldset{border: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
select{ width: 100%; box-sizing: border-box; padding: 0 5px; border: 1px solid #a3a3a3; border-radius: 3px;    
    background: url() no-repeat; background-position: right 5px center; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance:none; }
select::-ms-expand {display:none;} /* Internet Explorer의 select 기본 스타일 삭제 */
table{border-collapse: collapse; border-spacing: 0;}
table select{height: 24px; line-height: 22px;}
table a {color: #115dab; background-color: transparent;}
input[type=text]{width: 100%; box-sizing: border-box; padding: 0 5px; border: 1px solid #a3a3a3; height: 24px; border-radius: 3px; background}
input[type="password"]{width: 100%; height: 24px; padding: 0 5px; border: 1px solid #a3a3a3; border-radius: 3px; box-sizing: border-box;}
textarea{width: 100%; box-sizing: border-box; padding: 0 5px; border: 1px solid #a3a3a3; border-radius: 3px; line-height: 22px; vertical-align: top;}
pre{white-space: pre-wrap; margin: 0;}
.blind{position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0 0 0 0);}
input:read-only{background-color: #44413e; color: rgb(229 221 212);}
td{position: relative;}
input[type=date]{position: relative;}
input[type=date]::-webkit-clear-button
input[type=date]::-webkit-inner-spin-button{display:none}
input[type=date]::-webkit-calendar-picker-indicator{
	position:absolute; left: 0; top: 0; width: 100%; height: 100%; background: transparent; color:transparent; cursor: pointer;
}
<<<<<<< HEAD
input[type=date]{background:url(../img/icon/Calendar_Month.png) no-repeat right 15px center / 15px auto; background-color: #fff; border: 1px solid #44413e; padding-left: 15px;}

input[type="checkbox"]{display:none}
input[type="checkbox"] + span {display:inline-block; width: 17px; height: 17px; background:#c9bbb5; cursor:pointer; border-radius: 5px;vertical-align: text-top;}
input[type="checkbox"]:checked + span {background:#44413e url(../img/icon/Done.png) no-repeat;background-size: 17px 17px; }
input[type="checkbox"]:checked + span ::after{content:"";}
=======
input[type=date]{background:url(../img/icon/Calendar_Month.png) no-repeat right 15px center / 15px auto; background-color: #fff;}

input[type="checkbox"]{display:none;}
input[type="checkbox"]+label{display:inline-block; width: 17px; height: 17px; background:#c9bbb5; cursor:pointer; border-radius: 5px;}
input[type="checkbox"]:checked + label{background:#44413e url(../img/icon/Done.png) no-repeat;background-size: 17px 17px; 
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(103%) contrast(103%);}
footer{ height: 45px; position : relative; transform : translateY(-100%); line-height: 2.5;
font-size: 15px; text-align: center; color:#c9bbb5; border-top: 1px solid #c9bbb5; font-family: 'bitbit'; letter-spacing: 10px;}
>>>>>>> 912f05eeda0829078463ea1364d737df1a168788

*{font-family: 'Pretendard-Regular','DungGeunMo','bitbit', 'DOSPilgiMedium'}



@font-face{
	font-family:'bitbit';
	src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

@font-face {
	font-family: 'DungGeunMo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}