@charset "UTF-8";
/* 상단(헤더) */
 .header{position:fixed;top:0;right:0;left:0;min-width: 1120px;z-index:1000;background-color: gray;}
.logomenu{position: relative;min-width: 910px;padding-left: 210px;}
.system_title{position: absolute;top: 0;left: 0;height: 30px;padding: 20px 23.5px;text-align: center;}
.mastermenu{position: relative;height: 70px;} 

/* 좌측 관리자 로그인 정보 */
 .user_wrap{position: absolute; top: 50%; right: 20px; height: 30px; margin-top: -15px;}
.user_list:after{display:block; content: " "; clear:both;}
.user_list > li{float: left; font-size: 14px; line-height: 2.142857; font-weight: 400; color: #fff;}
.user_list > li + li{margin-left: 10px;}
.welcome{display: inline-block; margin-left: 7px; color: #fff; vertical-align: top;}
.user_photo, .user_logout{display: inline-block;padding: 0 10px;color: #fff;border-radius: 5px;}
/*.user_logout{background: url() repeat-y top right; background-color: #ffebc2;}
.user_photo{background: url() repeat-y top right; background-color: #6495ed;} */

/* 우측 메뉴바 */
.menubar{position: fixed;top: 0;left: 0;bottom: 0;min-width: 210px;padding-top: 70px;z-index: 999;background-color: #ececec;box-sizing: border-box;}
.menubar > .inner {position: relative;height: 100%;}

footer{
  position : relative;
  transform : translateY(-100%);
}