@charset "UTF-8";
:root{
    --m_side_bar_img_size: 16px;
    --m_size : inherit;
}

.side_content_wrap{position: absolute;left: 50px;top: 60px;box-sizing: border-box;width:180px; height:100%;}
.m_container_wrap{position: relative;margin-top: 60px;margin-left: 230px;box-sizing: border-box;}
.headerTitle{height:44px;position: fixed; overflow: hidden;border-bottom:1px solid #000;top:60px;width: 179px;background: #c9bbb5;border-right: 1px solid black;}
.headerTitle > .menuFold{width:44px; height: 44px; background: #c9bbb5 url(/img/icon/Sort.png) no-repeat 50%; background-size: 30px;float: left;cursor: pointer;border-right: 1px solid black;}
.headerTitle .titt{font-size: 18px; line-height: 44px; color: black; float: left; padding-left: 10px;}
.m_sidebar{ grid-row : span 2; min-height:100vh; background-color:#fff; width: 179px; transition:all 0.5s ease-out; position:fixed; margin-top:45px;border-right: 1px solid black;}

.m_btn_header{box-sizing: border-box;display: flex;width: 100%;height: 80px;justify-content: center;align-items: center;justify-content: space-around;border-bottom: 1px solid #c9bbb5;;}
.m_btn{background-color: #c9bbb5; color:white; width:85px; text-align: center;height: 40px;border-radius: 5px;line-height: 40px; cursor: pointer;}
.m_btn:hover{background-color: #ab9f9a}
.m_filter_header{border-bottom: 1px solid #c9bbb5;display: flex;justify-content: space-evenly;padding-bottom: 10px; padding-top:10px}
.m_filter_header> .item{text-align: center; width: 25%;}
.m_filter_header> .item > .item_div {display:block;text-align: center;color:#000;font-size: var(--m_side_bar_img_size); margin-bottom: 5px;}
.m_filter_header> .item > .item_div img{width: var(--m_side_bar_img_size);}
.m_filter_header> .item > .text{color:black; font-family: '나눔고딕'; font-size: 12px;}

.m_side_menu{display: flex; flex-wrap: wrap;}
.side_item{display:block; width: 100%; margin-top: 15px;}
.side_item img{width: 28px; margin-left:20px;}
.side_item span{vertical-align: sub; margin-left: 10px;}
.side_img{width: 24px !important; margin-left: 21px !important; margin-right: 3px;} 

.m_container_title{font-size: 20px; font-weight: bold; border-bottom: 1px solid black; height:24px;padding:10px;position: fixed;top: 60px;left: 230px;right:0;z-index: 2; background-color: #fff;}
.m_inner_content{min-height: 960px;}
.m_inner_content2{padding-top:50px; padding-left:20px;}
.m_menubox{display: flex; align-items: center; height:30px; border: 1px solid; margin-bottom: 10px;}

/* 전체메일함 */
.mail_list_wrap{display:flex; position:relative;}
.mail_list_wrap > .mail_list{padding: 0 25px; -webkit-box-flex: 1; flex: 1 1 0%;min-height: 0;overflow-x: hidden;overflow-y: auto;}
.mail_item{position:relative; margin:0; padding:0px;touch-action: pan-y; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.mail{ padding: 8px 10px 8px 11px; border-bottom: 1px solid rgba(var(--color-button-line-rgb), 0.4); cursor: pointer; position: relative;display:flex;}
.button_checkbox_wrap{width: 40px;}

/*테이블 스타일*/
.table_m{border-top: 2px solid #03243a;}
.table_m td, .table_m th { padding: 5px; font-size: 13px; line-height: 1.846153; border: 1px solid #b1aeae;}

.txtl{text-align:left}
.txtr{text-align: right;}
.txtc{text-align: center;}

/*편지 상세보기*/
.main_item{box-shadow: 5px 5px 0 black; border: 1px solid black;width: 90%;margin: 30px 5%; position:relative;}
.main_item > .w_title{border-bottom: 1px solid black; width:100%; height:40px; background: #a1887e;}
.main_item > .w_title > .w_left{float: left; line-height: 30px; font-family: 'DungGeunMo';font-size:20px; margin: 5px;}
.main_item > .w_title > .w_right{float: right; display: flex;align-items: center;justify-content: center; height: 40px;}
.main_item > .w_title > .w_right > .box{margin-right: 7px;}
.box > img{width: 20px;}
.m_content{padding:20px}

.m_subject{border-bottom: 1px solid #929294; height: 30px; margin-top: 10px;}
.m_subject > span {font-family: 'DungGeunMo'; color:#929294;}
.m_subject > span > input[type="text"]{width:90%; outline:none; border:none;font-family: 'DungGeunMo';}
.m_editor{margin-top:25px;}
.m_textarea{border: 1px solid #929294;height:340px; padding:10px; outline:none;overflow-x: auto; resize: none; border-top:none}
.m_editor_tool{height:40px; display:flex; align-items: center;border: 1px solid black;}
.m_editor_tool > input[type='button']{margin-left:3px; margin-right:3px; background-color: transparent; color:#000; border:transparent; cursor: pointer;}
.m_editor_tool > input[type='button']:hover{outline:2px solid #e6e6ea;} /*마우스 올렸을때*/
.m_editor_tool > input[type='button'].active{color:red}
.m_editor_tool > #btn-bold{font-weight: bold; }
.m_editor_tool > #btn-italic{font-style: italic;}
.m_editor_tool > #btn-underline{text-decoration-line: underline;}
.m_editor_tool > #btn-strikeThrough{text-decoration: line-through;}
.m_editor_tool > #btn-ajax{outline: 2px solid #e6e6ea;}




