@charset "UTF-8";

/* 메인레이아웃에서 사용 */
.login_in_body{ background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/background/background7.jpg); background-color:#6F6153; background-size: cover; background-repeat: no-repeat; background-position:bottom; height: 100vh;}
.login_wrap {min-width: 1000px; height: auto; min-height: 100%;}
.login_in_header{height: 30px; padding: 15px 30px; margin-bottom: 40px; font-size: 30px; line-height: 1.5;background-color:rgb(55 48 41); box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.12);}
.login_outer{margin-top: 3%; height: auto; min-height: 100%; padding-bottom: 45px;}
.login_inner{margin: auto; }
.login_in_content{ width: 380px; padding: 30px; margin: 0 auto; margin-bottom:20px; background-color: #fff; border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.12) 17px 9px 9px 0px;background-color:rgb(245 238 230 / 48%);}
.login_in_footer{position: relative; transform: translateY(-100%); padding: 15px 25px; font-size: 13px; text-align: center; border-top: 1px solid #c9bbb5;color:#c9bbb5; z-index: 0; font-weight: 900; letter-spacing: 20px; }

/* 메인 헤더에서 사용 */
.login_in_png{margin-left: -20px; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(103%) contrast(103%); margin-top: -15px;}
.login_in_title{display: inline-block; line-height: 30px; font-weight: bold; vertical-align: top; ;color:#fff; letter-spacing: 10px}    

/* 로그인.html에서 사용 */
.login_in_form_title {padding-bottom: 20px; font-size: 30px; line-height: 50px; font-weight: bold; text-align: center;}
input.login_in_id, input.login_in_pw { height: 50px; padding: 10px; margin-bottom: 10px; font-size: 16px; border: 1px solid #bbb; border-radius: 5px;}
.login_a{background-color: #faebd7; color:#44413e; padding: 5px; border-radius: 5px;}
.login_a:hover{color: antiquewhite; background:#44413e; padding: 5px; border-radius: 5px;}
.login_in_btn { display: block; width: 100%; height: 60px; padding: 0 20px; font-size: 22px; font-weight: bold; text-align: center; border: 0; border-radius: 5px; box-sizing: border-box; cursor: pointer;}
.join_a{color : antiquewhite}
.login_id_sv{width: 40px;  cursor: pointer;}
.login_id_save_div{padding-top: 15px; border-bottom: 1px solid black; padding-bottom: 15px;}    
.login_href{ text-align: center; padding: 10px; font-size: 18px;}

/*아이디 찾기, 비밀번호 찾기 div */
.result_div{text-align:center;}
.result_div > input[type="password"]{height:40px;  margin-bottom: 10px; margin-right:20%}
.result_div > button[type="button"]{height: 36px; width: 30%;}
.result_tag{font-weight:bold; color:#9b7139; font-size:20px; padding:10px}

/* 회원가입 CSS */
.back_arrow{width: 30px; height: 30px; cursor: pointer;}
.form{margin: 10px 10px;}
.form > .login_input {width: 100%; height: 40px; margin-top: 10px;} /* 일반 Input 파일 */
.form > .login_input_chk {width: 80%; height: 40px; margin-top: 10px; } /* 중복체크가 있는 Input 파일 */
.form > button[type="button"] {background-color: #FFF; color:#44413e; height:36px; width: 17%; cursor: pointer; font-size: 12px; vertical-align: middle; border: 1px solid #44413e;}
.form > button[type="button"]:hover {background-color:#44413e; color:#fff; }
.form > button[type="button"]:disabled{background:#44413e; color: #8b8787;}
.form > .chk_befo{font-size:12px; margin-left:3px;}

#email_chk > .login_input_chk.email{width: 35%; height: 30px; margin-top: 10px; margin-bottom: 2px; } /* 중복체크가 있는 Input 파일 */
#email_chk > .login_input_chk.emailSelection{ width: 23%; height: 25px; background-color: white; font-size: 13px; } /* 중복체크가 있는 Input 파일 */
#email_chk > button[type="button"] {background-color: #FFF; color:#44413e; height:40px; margin-left:-40px; }
#email_chk > button[type="button"]:hover {background-color:#44413e; color:#fff; height:40px; margin-left:-40px;}

.form > .chk_after{font-size:12px; margin-left:3px; color:#fff}
.form  > .box_col{display:flex; flex-direction: row; padding-top: 10px; margin: 10px 0 10px 0; border-top: 2px solid #faebd7;}
.box_col > .flex-item{width:50%; text-align: left;}
.birth_title{padding-bottom: 10px; font-size:15px}
.birth_title + input[type="date"]{width: 70%; height: 30px; border:none;} 
.birth_title ~ input[type="radio"]{width: 10%; height: 15px; margin-top:10px; cursor: pointer;} 