@charset "UTF-8";

/* 전체 화면 그리드 */
.container{display: grid; grid-template-columns:50px minmax(420px, auto); grid-template-rows: 60px 1fr;}
/* 헤더 그리드 */
.header {grid-column: span 2; color: #fff; background-color: #373029; display: grid; grid-template-columns: 240px 3fr 0fr;
        box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.12); position: fixed; left: 0; top: 0; right:0; z-index: 2;height:60px}
.header_logo{margin: auto;text-align: left; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(103%) contrast(103%);}
.header_logo_png{margin-left:10px}
.header_title{align-self:center}
.header_title_item{font-weight: bold; font-size: 30px; line-height: 30px; color:#fff; letter-spacing: 10px;}
.header_list{display:grid; grid-template-columns: repeat(3, 90px); align-self:center}
.header_symbol{width:30px;filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(103%) contrast(103%);}

/* 이미지 하얗게 만들기 */
.img_white {filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(103%) contrast(103%);}
.img_black {filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(208deg) brightness(98%) contrast(106%);}

/* 사이드바 시작 */
:root{
    --side-bar__phase-1-width: 50px;
    --side-bar__background-color:#6F6153; ;
    --side-bar__color: #fff;
    --side-bar__img_width : 40px;
    
}

.sidebar{
    grid-row: span 2;
    display:grid;
    background-color: var(--side-bar__background-color);
    width: var(--side-bar__phase-1-width);
    height: 100vh;
    transition: width 0.3s;
    z-index: 1;
    position:fixed;
    padding-top: 60px;
}

.nav_item li{display:flex; align-items:center; height:75px; cursor:default; overflow: hidden; width: 50px;}
.nav_item li:nth-child(1) {margin-bottom:15px; height:44px;}

.nav_item li:nth-child(1) .item{
    content: ""; 
    background-image: url("/img/icon/Menu.png"); 
    background-size: var(--side-bar__img_width); 
    width: var(--side-bar__img_width); 
    height: var(--side-bar__img_width); 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: calc((var(--side-bar__phase-1-width) - var(--side-bar__img_width)) / 2);
    position:absolute;
}
.nav_item li:nth-child(2) .item{ 
    content: ""; 
    background-image: url("/img/icon/Mail_Side.png"); 
    background-size: var(--side-bar__img_width); 
    width: var(--side-bar__img_width); 
    height: var(--side-bar__img_width); 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: calc((var(--side-bar__phase-1-width) - var(--side-bar__img_width)) / 2);
    position:absolute;
}
.nav_item li:nth-child(3) .item{ 
    content: ""; 
    background-image: url("/img/icon/Calendar_Month.png"); 
    background-size: var(--side-bar__img_width); 
    width: var(--side-bar__img_width); 
    height: var(--side-bar__img_width); 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: calc((var(--side-bar__phase-1-width) - var(--side-bar__img_width)) / 2);
    position:absolute;
}
.nav_item li:nth-child(4) .item{ 
    content: ""; 
    background-image: url("/img/icon/Favorite.png"); 
    background-size: var(--side-bar__img_width); 
    width: var(--side-bar__img_width); 
    height: var(--side-bar__img_width); 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: calc((var(--side-bar__phase-1-width) - var(--side-bar__img_width)) / 2);
    position:absolute;
}
.nav_item li:nth-child(5) .item{ 
    content: ""; 
    background-image: url("/img/icon/Account_Circle.png"); 
    background-size: var(--side-bar__img_width); 
    width: var(--side-bar__img_width); 
    height: var(--side-bar__img_width); 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: calc((var(--side-bar__phase-1-width) - var(--side-bar__img_width)) / 2);
    position:absolute;
}
.nav_item li:nth-child(6) .item{ 
    content: ""; 
    background-image: url("/img/icon/Setting.png"); 
    background-size: var(--side-bar__img_width); 
    width: var(--side-bar__img_width); 
    height: var(--side-bar__img_width); 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: calc((var(--side-bar__phase-1-width) - var(--side-bar__img_width)) / 2);
    position:absolute;
}

/* 호버했을때 */
.sidebar:hover{
    width: 230px;
}


.sidebar:hover .nav_item li{
    width: 230px;
}


/* 호버했을때, 메뉴 이미지 변경 */
.sidebar:hover li:nth-child(1) .item{
    background-image: url("/img/icon/Menu_Open.png"); 
    transition: all .2s;
}
.sidebar:hover li:nth-child(1){
    border-bottom: 2px solid #fff;
    transition: all .2s;
}

.nav_item > li > .menu_name{
    display:block;
    white-space: nowrap;
    padding : 0px 0px 0px 60px;
    color: #fff;
}
.nav_item li:nth-child(n+2):hover{
    background-color:#fff;
    background-size: 100%;
    cursor: pointer;
}
.nav_item li:nth-child(n+2):hover > .menu_name{ color:#000; }
.nav_item li:nth-child(n+2):hover > .item { filter: brightness(0%);}
.footer {min-width: 850px; padding: 15px 25px; font-size: 13px; text-align: center; color:#c9bbb5; border-top: 1px solid #c9bbb5; font-family: 'bitbit'; letter-spacing: 10px;}
