@charset "UTF-8";
/* 메인 레이아웃에 적용 */
.container_wrap{position: relative; box-sizing: border-box; padding: 80px 20px 0px 70px;}
.main_content{display:grid; grid-template-columns: 380px auto; grid-template-rows: 330px 450px; height:100%; padding-bottom: 15px; }
.main_item{box-shadow: 5px 5px 0 black; border: 1px solid black; background-color: #fff;}
.main_item:nth-child(1){width:350px; height:300px;}
.main_item:nth-child(2){width: 350px;min-height: 400px;}
.main_item:nth-child(3){ grid-column: 2 / span 1; grid-row : 1 / span 2; }

/*윈도우창 style*/
.main_item > .w_title{border-bottom: 1px solid black; width:100%; height:25px; background: #373029;}
.main_item > .w_title > .w_left > a{float: left; line-height: 25px; margin-left: 7px;font-family: 'DungGeunMo'; color:white}
.main_item > .w_title > .w_right{float: right; display: flex;align-items: center;justify-content: center; height: 20px;margin-top: 2.5px; width:80px}
.main_item > .w_title > .w_right > .box{margin-right: 7px;}
.box > img{width: 20px;}
.w_wrap{width:100%; height:100%}
.w_photo{ border: 1px solid black; width:90%; height:65%; margin:2% 5%;}
.w_info{text-align: center;}
.w_info > .w_nick{font-size:20px; font-weight: bold;}

/*탭메뉴*/
.tabmenu_wrap{position: relative;}
.tabmenu{width: 100%;height: 25px;border-bottom: 1px solid black;}
.tabmenu::after{display: block; content: " "; clear: both;}
.tabmenu > li{float: left;}
.tabmenu > li + li{margin-left: 5px;}
.tabmenu > li > a{display: block; padding: 0 20px; color:black;float: left; line-height: 25px;font-family: 'DungGeunMo'; background:white}
.tabmenu > li.on > a{color: #fff8f5;background: #594c47;}
.tabmenu.right{position: absolute; top: 0; right: 0;}

/*탭 메뉴 안에 테이블*/
.tableScroll{height:397px; overflow-y:scroll; display:none;}
.tableScroll.on{display:block;}
.tableTab{width:100%; table-layout: fixed;}
.tableTab thead{background:#6F6153; color:#fff}
.tableTab th , .tableTab td{padding:5px; border:1px solid #000; font-family:'Pretendard-Regular';font-feature-settings: "tnum";font-variant-numeric: tabular-nums;}
.tableTab td{font-size: 12px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}


.txtl{text-align:left}
.txtr{text-align: right;}
.txtc{text-align: center;}

.title_wrap{position:relative; padding-top:10px; padding-left: 10px; background-color:rgba(128, 128, 128, 0.418)}
.title_left{float: left; height: 30px; font-size: 20px; font-weight: 600;letter-spacing: 5px;}
.title_right{float: right; height: 30px; padding-right: 10px; letter-spacing: 1px;}
.title_center{height: 30px; font-size: 20px; font-weight: 600;letter-spacing: 5px; text-align:center;}


/* 헤더, 좌측 메뉴 제외 바디 부분 */
.contents_wrap {position: relative;padding-top: 70px;padding-left: 230px;box-sizing: border-box;height:100%;}
.container_inner{padding:20px}
.container_inner2{min-height: 600px;}
.title_wrap::after{display: block; content: " "; clear:both;}
.title_left.large{float: left; height: 30px; font-size: 20px; font-weight: 700; position: relative; line-height: 1.5; padding-left: 25px;}




/* 콘텐츠 안에서 내용별로 묶는 단위(또는 division) 관련 */
.section + .section{margin-top: 20px;}
.section::after{display: block; content: " "; clear: both;}
/* section 안에서 이중 분할 */
.section > .left, .section > .right{width: 50%; box-sizing: border-box;}
.section > .left{float: left; padding-right: 15px;}
.section > .right{float: right; padding-left: 15px;}
/* section 안에서 삼중 분할 tri는 triple을 의미*/
.section > .tri_left{float: left; width: 33.33%; box-sizing: border-box; padding-right: 15px;}
.section > .tri_center{float: left; width: 33.33%; box-sizing: border-box; padding: 0 15px;}
.section > .tri_right{float: right; width: 33.33%; box-sizing: border-box; padding-left: 15px;} 



/*마이페이지 적용*/
.main_content_m{display: grid;grid-template-columns: auto;grid-template-rows: 86vh;}
.main_content_m > .main_item {width: 1159px;height: 620px;margin: auto;}

.mypage_content{display:inline-flex; padding:10px; justify-content: space-around;width: -webkit-fill-available; align-items: stretch;}
.mypage_content input{width: 635px;height: 40px; margin-top: 10px;}
.mypage_content input[type='date']{width:618px;}
.birth_title{margin-top:40px;}
.mypage_content input[type='radio']{width:20px; height:20px}
.mypage_content button{background-color: #44413e; color: #fff;height: 36px;width: 60px;cursor: pointer;font-size: 13px;vertical-align: middle;border: 1px solid #44413e;margin-left: 15px;}
.w_photo_m{display: inline-block;text-align: center;}
.w_photo_m img{width:70%; height:100%; border: 1px solid black;}
.w_photo_m input[type="file"]{width: 250px;height: 24px;}
.bottom_btn{text-align: center;}
.bottom_btn input[type="button"]:first-child{background-color: #373029; color:#fff  }
.bottom_btn input[type="button"]{background-color: #fff; color:#373029;width: 50px;height: 33px;font-size: 20px;}