@charset "UTF-8";

/* 메인레이아웃에서 사용 */
.login_in_body{ background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/background/background7.jpg); 
    background-color: #ffb6c1; background-size: cover; background-repeat: no-repeat; background-position:bottom;}
.login_wrap {min-width: 1000px;}
.login_in_header{    height: 30px; padding: 15px 30px; margin-bottom: 20px; font-size: 20px; line-height: 1.5;
background-color: rgb(3, 36, 68, 0.3); border-bottom: 1px solid rgba(255,255,255,0.3); box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);}

.login_in_content{ width: 360px; padding: 30px; margin: 0 auto; margin-bottom:20px; background-color: #fff; border-radius: 5px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);}
.login_in_footer{ position: fixed; right: 0; left: 0; bottom: 0;min-width: 1000px; padding: 15px 25px; font-size: 13px;  text-align: center; border-top: 1px solid black; }

/* 메인 헤더에서 사용 */
.login_in_png{padding-right: 15px; margin-right: 10px; border-right: 1px solid rgba(255,255,255,0.3); vertical-align: top; width: 25px}
.login_in_title{display: inline-block; line-height: 30px; font-weight: bold; vertical-align: top;}    

/* 로그인.html에서 사용 */
.login_in_form_title { padding-bottom: 20px; font-size: 22px; line-height: 27px; font-weight: bold; text-align: center;}
input.login_in_id, input.login_in_pw { height: 50px; padding: 10px; margin-bottom: 10px; font-size: 16px; border: 1px solid #bbb;}
.login_in_btn { display: block; width: 100%; height: 60px; padding: 0 20px; font-size: 18px; line-height: 3.333333;
    font-weight: bold; color: #fff; text-align: center; background: url() repeat-y top right; background-color: #003691; border: 0;
    border-radius: 5px; box-sizing: border-box; }
    
.login_id_save_div{    padding-top: 15px; border-bottom: 1px solid black; padding-bottom: 15px;}    
.login_id_chk{width: 40px;  cursor: pointer;}

.login_href{ text-align: center; padding: 10px; font-size: 18px;}


