<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/main_layout">
    <th:block layout:fragment="mainContent">
        <div class="main_content">
            <div class="main_item">
                <div class="title_wrap">
                    <div class="title_left"><a href="#">내정보</a></div>
                    <div class="title_right"><a href="#">마이페이지</a></div>
                </div>
            </div>

            <div class="main_item">
                <div class="divide">
                    <ul class="title_list">
                        <li class="title_left on"><a href="#" onclick="">알림</a></li>
                        <li class="title_left"><a href="#" onclick="tab">쪽지</a></li>
                    </ul>
                    <!-- <div class="title_left"><a href="#">알림</a></div> -->
                </div>
                <!-- <div class="title_wrap">
                    <div class="title_left"><a href="#">쪽지</a></div>
                    <div class="title_right"><a href="#" onclick="goToLetterBox();">더보기</a></div>
                </div> -->
            </div>
            <div class="main_item">
                <div class="title_wrap">
                    <div class="title_left"><a href="#">캘린더</a></div>
                    <div class="title_right"><a href="#" onclick="goToCalendar();">더보기</a></div>
                </div>
                <!-- calendar 태그 -->
                <div class='calendar_container'>
                    <div id='calendar' style="margin:1em"></div>
                </div>
            </div>
        </div>
    <script>
        function goToLetterBox(){
            location.href = "/letterBox.do"
        }

        function goToCalendar(){
            location.href = "/calendarList.do"
        }
        

    </script>

    </th:block>
</body>
</html>