<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/main_layout">
    <th:block layout:fragment="mainContent">
        <div class="main_content">

            <div class="main_item">
                <div class="w_title">
                    <div class="w_left"><a href="/mypage.do" target="_self">MYPAGE</a></div>
                    <div class="w_right">
                        <div class="box">
                            <img th:src="@{../img/attach/min.png}">
                            <img th:src="@{../img/attach/max.png}">
                            <img th:src="@{../img/attach/close.png}">
                        </div>
                    </div>
                </div>
                <div class="w_photo">
                    <img th:src="@{../img/icon/instagram.png}" style="width:70%; height:100%; margin:0 15%">
                </div>
            </div>

            <div class="main_item">
                <div class="w_title">
                    <div class="w_right">
                        <div class="box">
                            <img th:src="@{../img/attach/min.png}">
                            <img th:src="@{../img/attach/max.png}">
                            <img th:src="@{../img/attach/close.png}">
                        </div>
                    </div>
                </div>
                <ul class="tabmenu left">
                    <li class="tabl on" id="alarm"><a href="#alarm" onclick="tab('alarm')">ALARM</a></li>
                    <li class="tabl" id="message"><a href="#message"onclick="tab('message')">MESSAGE</a></li>
                </ul>
            </div>
            <div class="main_item">
                <div class="w_title">
                    <div class="w_left"><a href="/calendarList.do" target="_self">CALENDAR</a></div>
                    <div class="w_right">
                        <div class="box">
                            <img th:src="@{../img/attach/min.png}">
                            <img th:src="@{../img/attach/max.png}">
                            <img th:src="@{../img/attach/close.png}">
                        </div>
                    </div>
                </div>
                <!-- calendar 태그 -->
                <div class='calendar_container'>
                    <div id='calendar' style="margin:1em"></div>
                </div>
            </div>
        </div>
        
    <script>
        function tab(id){
            $(".tabl").removeClass('on')
            $("#"+id).addClass('on');
        }
        

    </script>

    </th:block>
</body>
</html>