<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/letter_layout">
    <th:block layout:fragment="letterContent">
        <div class="m_inner_content">
            <div class="m_container_title" id="container_title"></div>
            <div class="m_inner_content2">
                <div class="section">
                    <div class="m_menubox">
                        <!-- <label for="chk_all">
                            <input type="checkbox" id="chk_all" onclick="ChkAll();">
                            <span for="chk_all"></span>
                        </label> -->
                        <input type="button" onclick="delLett();" value="삭제">
                    </div>
                    <table class="table_m">
                        <colgroup>
                            <col style="width: 10%">
                            <col style="width: 15%">
                            <col style="width: 15%">
                            <col style="width: 30%">
                            <col style="width: 15%">
                            <col style="width: 15%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th><label for="chk_all">
                                    <input type="checkbox" id="chk_all" onclick="ChkAll();">
                                    <span for="chk_all"></span>
                                </label></th>
                                <th>보낸사람</th>
                                <th>받은사람</th>
                                <th>제목</th>
                                <th>보낸날짜</th>
                                <th>내 닉네임</th>
                            </tr>
                        </thead>
                            <tbody th:each="item : ${letterList}" th:class="'mail_item mail-'+${item.L_SEQ}" th:if="${letterList.size() != 0}">
                                <tr>
                                    <td class="txtc">
                                        <label th:for="'chkbox'+${item.L_SEQ}" th:onclick="checkClick()">
                                            <input type="checkbox" th:id="'chkbox'+${item.L_SEQ}" th:value="${item.L_SEQ}" class="chkClass" >
                                            <span for="'chkbox'+${item.L_SEQ}"></span>
                                            <input type="hidden" th:id="'_chksend'+${item.L_SEQ}" th:value="${item.SEND}">
                                        </label>
                                    </td>
                                    <td class="txtc"><span id="lett_L_SENDER" class="mail_sender" th:text="${item.L_SENDER}"></td>
                                    <td class="txtc"><span id="lett_L_RECIVER" class="mail_sender" th:text="${item.L_RECIVER}"></td>
                                    <td class="txtc"><span id="lett_L_TITLE" class="mail_sender" th:text="${item.L_TITLE}"></td>
                                    <td class="txtc"><span id="lett_L_SENDT" class="mail_sender" th:text="${item.L_SENDT}"></td>
                                    <td class="txtc"><span id="lett_M_NICKNAME" class="mail_sender" th:text="${item.M_NICKNAME}"></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
        
<!--  each 문에서 꺼낼 수 있는 것들
시퀀스<div id="lett_L_SEQ" class="" th:text="${item.L_SEQ}"></div>
보낸사람인지에 대한 여부 <div id="lett_SEND" class="" th:text="${item.SEND}"></div>
보낸사람 <div id="lett_L_SENDER" class="" th:text="${item.L_SENDER}"></div>
받은사람 <div id="lett_L_RECIVER" class="" th:text="${item.L_RECIVER}"></div>
제목 <div id="lett_L_TITLE" class="" th:text="${item.L_TITLE}"></div>
열람여부 <div id="lett_L_OPEN_YN" class="" th:text="${item.L_OPEN_YN}"></div>
닉네임 <div id="lett_M_NICKNAME" class="" th:text="${item.M_NICKNAME}"></div>
보낸시간 <div id="lett_L_SENDT" class="" th:text="${item.L_SENDT}"></div>
<div id="lett_M_SEQ" class="" th:text="${item.M_SEQ}"></div>
파일이름 <div id="lett_F_SV_NAME" class="" th:text="${item.F_SV_NAME}"></div>
파일시퀀스..? <div id="lett_F_SEQ" class="" th:text="${item.F_SEQ}"></div> 
-->


<script>
    document.addEventListener("DOMContentLoaded", function(){
        const search = window.location.search;  //'?' 뒤의 쿼리 스트링 가져오기
        var index = search.lastIndexOf("=") + 1;
        var type = search.substr(index);
        titleChange(type);
    });

    //
    function titleChange(type){
        var title = "";
        switch(type){
            case 'all' : 
                title = "전체메일함"
                break;
            case 'receive' : 
                title = "받은메일함"
                break;    
            case 'send' : 
                title = "보낸메일함"
                break;
            case 'trash' : 
                title = "휴지통"
                break;
        }
        document.getElementById('container_title').innerText = title;
    }

    //전체 체크박스 버튼 체크 여부: 전체 체크박스 해제 또는 체크
    function ChkAll(){
        const chkBoxAll = document.getElementById('chk_all');   //전체 체크박스 버튼 요소
        const is_checked = chkBoxAll.checked;                   //전체 체크박스 버튼의 해제 또는 체크 여부

        //전체 체크박스 체크했을 경우
        if(is_checked){
            //체크박스 전체 체크
            chkAllChecked();
        }
        //전체 체크박스 해제했을 경우
        else {
            //체크박스 전체 해제
            chkAllUnChecked();
        }
    }

    //체크박스 전체 체크
    function chkAllChecked(){
        document.querySelectorAll(".chkClass").forEach(function(v,i){
            v.checked = true;
        });
    }
    //체크박스 전체 해제
    function chkAllUnChecked(){
        document.querySelectorAll(".chkClass").forEach(function(v,i){
            v.checked = false;
        });
    }

    //자식 체크박스 개수 == 전체체크박스 개수 일 경우, 전체체크박스 체크 or 해제
    function checkClick(){
        const allCount = document.querySelectorAll(".chkClass").length; //자식 체크박스 개수
        const query = "input[id^='chkbox']:checked";              //자식 체크박스 중, 체크된 것 확인을 위한 쿼리
        const selectedElements = document.querySelectorAll(query);      //자식 체크박스 중, 체크된 요소 가져오기
        const selectedElementsCnt = selectedElements.length;            //자식 체크박스 중, 체크된 박스 개수 가져오기\
        //체크된 박스가 전체 체크박스의 개수와 같으면 전체 체크박스도 체크 처리하기
        if(allCount == selectedElementsCnt){
            document.getElementById('chk_all').checked = true;  
        } 
        //같지 않으면 전체 체크박스 해제
        else {
            document.getElementById('chk_all').checked = false;
        }
    }

    //삭제버튼 클릭 시, SEQ와 SEND 객체에 넣어서, 배열에 집어넣는 작업
    function delLett(){
        const query = "input[id^='chkbox']:checked";
        const selectedElements = document.querySelectorAll(query);
        const selectedElementsCnt = selectedElements.length;

        //삭제버튼 클릭 시, 체크값이 없을 때
        if(selectedElementsCnt == 0){
            $.alertError('삭제할 항목을 선택해주세요');
            return false;
        }
        //삭제버튼 클릭 시, 체크값이 있을때
        else{
            if(confirm("삭제하시겠습니까?")){
                let arr = new Array(selectedElementsCnt);

                document.querySelectorAll(query).forEach(function(v, i){
                    let seq = v.value
                    let sendChk = document.getElementById("_chksend"+seq).value;
                    arr[i] = ({"lSeq" : seq, "SEND" : sendChk});
                });

                $.ajax({
                    type : 'POST',
                    contentType : "application/json",
                    url : '/letterTrash.json',
                    data : JSON.stringify(arr),
                    dataType : 'json',
                    success : function(rslt){
                        $.alertSucces(rslt.resultMsg);
                        if(rslt.resultCd=='1'){
                            location.href = rslt.resultUrl;
                        }
                    },
                    error : function(request, status, error){
                        $.alertError("javaScript error : "+ error + "request :" + request + "status : " + status);
                    }
                });
            }
        }
    }
</script>
</th:block>