<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/mail_layout">
    <th:block layout:fragment="mailContent">
        <div class="m_inner_content">
            <div class="m_container_title">메일휴지통</div>
            <div class="m_inner_content2">
                <div class="section">
                    
                </div>
            </div>
        </div>
        <div class="container_title" style="font-size:20px;">메일휴지통</div> <!--화면 위치 알아두려고 일단 적어놓음 나중에 없앨것-->
        <div class="container_inner">
            <div class="container_inner2">
                    <div class="section">
                        <div>
                            <a>메일쓰기</a>
                            <a href="#">삭제하기</a>
                        </div>
                        <div class="mail_list_wrap">
                            
                            <ul class="mail_list">
                                <li class="mail_item">
                                    <div class="mail">
                                        <div class="button_checkbox_wrap"><input type="checkbox"> 삭제</div>
                                        <div class="mail_sender">보낸사람</div>
                                        <div class="mail_inner">내용</div>
                                        <div class="mail_date_wrap"><span class="mail_date">06.19 10:00</span></div>
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>