<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{fragments/layout/letter_layout}">
    <th:block layout:fragment="letterContent">
        <div class="m_inner_content">
            <div class="m_container_title">메일작성하기</div>
            <div class="m_inner_content2">
                <div class="section">
                    <div class="main_item">
                        <div class="w_title">
                            <div class="w_left">New Message</div>
                            <div class="w_right">
                                <div class="box">
                                    <img th:src="@{../img/attach/min.png}">
                                    <img th:src="@{../img/attach/max.png}">
                                    <img th:src="@{../img/attach/close.png}">
                                </div>
                            </div>
                        </div>
                        <div class="m_content">
                            <div class="m_subject"><span>To: <input type="text" id="lReciver" name="lReciver" placeholder="닉네임"></span></div>
                            <div class="m_subject"><span>Title: <input type="text" id="lTitle" name="lTitle"></span></div>
                            <div class="m_editor">
                                <textarea class="m_textarea" contenteditable="true" id="lContent"></textarea>
                                <div class="m_editor_tool">
                                    <input type="button" onclick="command('bold');" value="B" id="btn-bold">
                                    <input type="button" onclick="command('italic');" value="I" id="btn-italic" >
                                    <input type="button" onclick="command('underline');" value="U" id="btn-underline">
                                    <input type="button" onclick="command('strikeThrough');" value="S" id="btn-strike">
                                    <input type="button" id="btn-ajax" value="메일전송">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
    const btn = document.getElementById("btn-ajax");
    const editor = document.getElementById("lContent");

    window.onload = function(){
        btn.addEventListener('click', function(){
            letterWriteJson();
        });
    }

    function letterWriteJson(){
        var inputReciver = document.getElementById("lReciver").value;
        var inputTitle = document.getElementById("lTitle").value;
        var textareaContent = document.getElementById("lContent").value;

        ajaxData = {
            lReciver : inputReciver,
            lTitle : inputTitle,
            lContent : textareaContent
        };

        $.ajax({
            type : "POST",
            contentType : "application/json",
            url : "/letterWrite.json",
            data : JSON.stringify(ajaxData),
            dataType : 'json',
            success : function(rslt){
                fetch(`/api/publish?lReciver=${document.querySelector("#lReciver").value}`);
                $.alertSuccess(rslt.resultMsg);
                if(rslt.resultCd=='1'){
                    location.href = rslt.resultUrl;
                }
            },
            error : function(request, status, error){
                $.alertError("javaScript error : "+ error + "request :" + request + "status : " + status);
            }
        });
    }

    function command(type){
        document.execCommand(type);
        focusEditor();
    }

    function focusEditor(){
        editor.focus();
    }
    </script>    
    </th:block>
</html>