<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:replace="fragments/config/settingConfig :: settingConfigFragment"></th:block>

    <body class="main_layout">
        <th:block th:replace="fragments/header/mainHeader :: mainHeaderFragment"></th:block>
        <th:block th:replace="fragments/header/mainSideBar :: mainSideBarFragment"></th:block>
        <!-- <th:block th:replace="fragments/header/settingSideBar :: settingSideBarFragment"></th:block>  -->
        <div class="s_container_wrap">
            <th:block layout:fragment="settingContent"></th:block>
        </div>
        <div class="footer">
            <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
        </div>
    </body>
</html>